@import "./variables";
@import "./resets";

body {
  background: $primary-color;
}

header {
  position: fixed;
  background: $text-color;
  height: 80px;
  width: 100vw;
  z-index: 3;

  .logo {
    position: relative;
    top: px;
    left: px;

    img {
      height: 80px;
    }
  }

  .nav-bar {
    align-items: center;

    &__links {
      display: flex;
      justify-content: space-evenly;
      position: relative;
      top: -40px;
      color: $text-color;
      font-size: 30px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

      a {
        color: #fff;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 150px;
  left: -140px;
  color: #fff;
  max-width: 1000px;
  margin: auto;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 2;
  width: 50vw;

  h1 {
    margin: 20px 0;
  }
}

.header-img {
  width: 100vw;
  height: 500px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 80px;
}

.our-rooms {
  position: absolute;
  top: 600px;
  background: $secondary-color;
  width: 100vw;
  padding: 20px 0;

  img {
    height: auto;
    position: relative;
    left: 460px;
  }
}
